services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin  # Change this in production!
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-storage:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=730d'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped

  network-exporter:
    build: ./network-exporter
    container_name: network-exporter
    ports:
      - "9101:9101"
    restart: unless-stopped

  process-exporter:
    image: ncabatoff/process-exporter:latest
    container_name: process-exporter
    ports:
      - "9256:9256"
    volumes:
      - /proc:/host/proc:ro
      - ./process-exporter:/config
    command:
      - '--procfs=/host/proc'
      - '--config.path=/config/process-exporter.yml'
    restart: unless-stopped

  hubitat-exporter:
    image: ghcr.io/budgetsmarthome/hubitat2prom:latest
    container_name: hubitat-exporter
    restart: always
    environment:
      # Construct URI using your Hub IP and App ID from Step 1
      - HE_URI=http://192.168.0.61/apps/api/20/devices
      - HE_TOKEN=3ce8a822-1e1f-4f9e-bc2a-19c3caee9568
      # Optional: Define specific metrics to capture
      - HE_METRICS=battery,temperature,humidity
    ports:
      - "5000:5000"

volumes:
  grafana-storage:
  prometheus-storage:
  ollama-storage:
  open-webui-storage:

