[Unit]
Description=Emit SnapRAID Prometheus textfile metrics
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snapraid-metrics.sh
Nice=10
