[Unit]
Description=Emit SnapRAID Prometheus textfile metrics
After=local-fs.target

[Service]
Type=oneshot
Environment=TEXTFILE_DIR=/home/wmichelin/code/homelab/apps/exporters/textfile
ExecStart=/home/wmichelin/code/homelab/apps/exporters/scripts/snapraid-metrics.sh
Nice=10
