[Unit]
Description=SnapRAID sync
After=local-fs.target

[Service]
Type=oneshot
Environment=TEXTFILE_DIR=/home/wmichelin/code/homelab/apps/exporters/textfile
ExecStart=/home/wmichelin/code/homelab/apps/exporters/scripts/snapraid-job-wrapper.sh sync
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
