[Unit]
Description=SnapRAID sync
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snapraid-job-wrapper.sh sync
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
