[Unit]
Description=SnapRAID scrub
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snapraid-job-wrapper.sh scrub -p 100 -o 30
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
