global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'network-metrics'
    static_configs:
      - targets: ['network-exporter:9101']

  - job_name: 'hubitat-metrics'
    static_configs:
      - targets: ['hubitat-exporter:5000']