# https://docs.immich.app/install/environment-variables
UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres
TZ=America/New_York
IMMICH_VERSION=v3
DB_PASSWORD=change-me-alphanumeric-only
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
