[Unit]
Description=Docker stats metrics every minute

[Timer]
OnBootSec=15s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=true
Unit=docker-stats-metrics.service

[Install]
WantedBy=timers.target
